/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@theme {
  --color-base-100: oklch(98% 0.003 247.858);
  --color-base-200: oklch(96% 0.007 247.896);
  --color-base-300: oklch(92% 0.013 255.508);
  --color-base-content: #101820;
  --color-primary: #16324f;
  --color-primary-content: #fef6e7;
  --color-secondary: #7daa92;
  --color-secondary-content: #fef6e7;
  --color-accent: #ff6b6b;
  --color-accent-content: oklch(25% 0.092 26.042);
  --color-neutral: #fff7ed;
  --color-neutral-content: #101820;
  --color-info: #2d6ea3;
  --color-info-content: #fef6e7;
  --color-success: #7daa92;
  --color-success-content: #fef6e7;
  --color-warning: #f2c94c;
  --color-warning-content: oklch(28% 0.066 53.813);
  --color-error: #ff6b6b;
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.5rem;
  --radius-field: 1rem;
  --radius-box: 2rem;
  --size-selector: 0.21875rem;
  --size-field: 0.3125rem;
  --border: 1.5px;
  --depth: 1;
  --noise: 1;
}
